<ul id="lists">
  <% sort_items(@lists) do |list| %> 
    <li class="<%= list_class(list) %>">
      <a href="/lists/<%= list[:id] %>">
        <h2 class="complete"><%= list[:name] %></h2>
        <p><%= todos_remaining(list) %></p>
      </a>
    </li>
  <% end %>
</ul>
<% if @lists.empty? %>
  <div id="no_list"><h1>Create a new list!</h1></div>
<% end %>
<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>